.todoListItem {
  background-color: #242424;
  padding: var(--spacing-s);
  gap: var(--spacing-s);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.todoListItemTitle {
  overflow: hidden;
  text-overflow: ellipsis;
}

.todoListItemTitleDone {
  text-decoration: line-through;
}
